body, html {
    margin: 0;
    padding: 0;
    background-color: #000000;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    padding-left: 40px; 
    padding-top: 40px;
}
